<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd ">

    <aop:aspectj-autoproxy />
    <bean id="boardHandler" class="com.sjsu.snippetshare.service.BoardHandler" />
    <bean id="snippetHandler" class="com.sjsu.snippetshare.service.SnippetHandler" />
    <bean id="commentsHandler" class="com.sjsu.snippetshare.service.CommentsHandler" />
    <bean id="authorizeAspect" class="com.sjsu.snippetshare.aspect.Authorize" />
    <bean id="board" class="com.sjsu.snippetshare.domain.Board" />
    <bean id="snippet" class="com.sjsu.snippetshare.domain.Snippet" />
    <bean id="comment" class="com.sjsu.snippetshare.domain.Comment" />
</beans>